@font-face {
    font-family: "Tanker";
    src: url(tanker-font);
    
}

* {
    margin: 0 auto;

}

header {
    width: 100%;
    background-image: url("raymond1.png");
    background-size: contain;
    background-position: center;
    height: 600px;
    position: relative;
    text-align: center;
    font-family: "Tanker";
   color: white;
}



.credit {
    text-align: right; 
}

h1 {
    font-size: 90px;
    margin-top: 1rem;
}


h2 {
    margin-top: 8px;
}

 .school, .date {
    position: relative;
    text-align: center;
    bottom: -380px;
 }

img {
    outline: 3px solid purple;
}
p {
    outline: 3px solid purple;
    font-family: "Helvetica Neue";
}

footer {
    outline: 3px solid purple;
}

#green-shoots {
    width: 800px;
}